.heading{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.blue-background{
    background-color: rgb(50, 132, 255);
    font-family: sans-serif;
    font-size: small;
    outline: none;
    border: none;
}
.sub-heading{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.normal-heading{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
ul{
    color: teal;
    font-family: sans-serif;
}
ol{
    color: blueviolet;
    font-family: sans-serif;
}
dl{
    color: chocolate;
    font-family: sans-serif;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}
table{
    width: 100%;
    height: auto;
}
body{
    background-image: url(uki.pnge);
    margin: 50px;
    padding: 50px;
}
form{
    font-family: sans-serif;
}
fieldset.bg{
    background-color: rgb(235, 235, 232);
    width: auto;
    border: none;
    outline: none;
}
fieldset{
    width: max-content;
}
footer {
    background-color: #333;   /* Dark background */
    color: white;             /* White text */
    padding: 10px;
    text-align: center;       /* Default: center alignment */
}